body{
    background: url(../images/bg-body.gif) repeat;
}
#div-min{
    margin: 0 auto;
}
#head{
    position: relative;
    background: url(../images/bg-header.png) repeat-x;
    padding-bottom: 25px;
    top: -50px;
    height: 220px;
}
#center{
    position: relative;
    margin: 0 auto;
}
#foot{
    background: url(../images/bg-header.png) repeat-x;
    height: 80px;
    margin-top: 40px;
}
.center {
    margin: 0 auto;
    width: 800px;
    display: block;
}
.center #img {
    display: inline;
    position: absolute;
    top: 25px;
}

#link{
    float: right;
    display: inline;
    background: url(../images/links.png) no-repeat;
    color: #f9fbca;
    height: 32px;
    width: 180px;
    text-align: center;
}
#link a:first-child{
    border-left: 0;
    padding-left: 0;
    color: #fcf3b2;
    font-size: 15px;
    line-height: 32px;
    text-decoration: none;
}
#link a{
    color: #fcf3b2;
    font-size: 15px;
    line-height: 32px;
    border-left: 1px solid #fcf3b2;
    padding: 0 5px;
    text-decoration: none;
}
#div-right {
    float: right;
    top: 0px;
}
#center #middle {
    text-align: center;
    background: url(../images/bg-footer.jpg) repeat;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 1px;
}
span{
    font-size: 18px;
    line-height: 24px;
    color: #fcf3b2;
}
.span-name{
    padding: 30px;
}
.span-price{
    padding: 10px;
}
.span-description{
    padding: 100px;
}
.span-contact{
    padding: 50px;
}
.span-classification{
    padding: 15px;
}
.span-img{
    padding: 50px;
}
.a-down{
    text-align: center;
    font-size: 20px;
    line-height: 50px;
}
td{
    height: 20px;
    color: #ccb98b;
}
td img{
    max-height: 30px;
    margin: 2px;
}
#div-left{
    position: relative;
    left: 165px;
    top: 30px;
}
#div-left a{
    font-size: 20px;
}

input.submit{
    display: inline-block;
    cursor: pointer;/*锟侥憋拷锟斤拷锟斤拷锟阶�*/
    height: 37px;
    width: 83px;
    border: 1px solid gray;
    border-radius: 10px;
    color: #fcf3b2;
    font-size: 17px;
    background-color: gray;
}
#link a:hover {/*閾炬帴鍔ㄧ敾*/
    color: #ccb98b;
    transition: 0.8s all;
}
input.submit:hover{
    border: 1px solid white;
    color: white;
    font-size: 17px;
    transition: 0.5s;
}
li{
    display: inline;
}
a{
    font-size: 24px;
    line-height: 36px;
    padding: 5px 8px 5px 8px;
    text-decoration: none;
    color: #fcf3b2;
    cursor: pointer;
    background: url(../images/bg-menu-selected-left.png) no-repeat left center;
}
a:hover{
    background: url(../images/bg-menu-selected-right.png) no-repeat right center;
}
.selected{
    background: url(../images/bg-menu-selected-right.png) no-repeat right center;
}
ul{
    text-align: center;
    position: relative;
    margin-bottom: 10px;
    margin-top: 5px;
}
#selltable p{
    color: #fcf3b2;
    font-size: 20px;
    text-align: center;
}
.select{
    position: absolute;
    right: 400px;
    top: 32px;
    display: block;
}
.con-pic{
    margin: 0 5px;
}
.con-pic:hover{
    border: 1px solid white;
    cursor: pointer;
}

#pic-diwn img{
    display: inline ;
    /*break-inside: avoid*/
    width: 50px;
    border: 1px solid gray;
    margin: 5px;
}
#goodsinf{
    position: fixed;
    left: 0;
    right: 0;
    top: 15%;
    text-align: center;
    width: 800px;
    height: auto;
    margin: 0 auto;
    break-inside: avoid;
    background-color: #bebcbc;
    border: 2px ridge rgba(238, 238, 238, 0.13);
    border-radius: 5px;
    box-shadow: 0 -5px 10px 1px rgba(16, 16, 16, 0.65);
    border-bottom: none;
    border-bottom-left-radius: initial;
    border-bottom-right-radius: initial;
    padding: 20px;
    display: none;
}
#goodsinf #discr input[type="file"]{
    float: left;
    display: block;
    position: relative;
    bottom: 0;
}
#goodspric {
    float: left;
    text-align: left;
    margin-top: 20px;
    break-inside: avoid;
}
.buttCh{
    width: 25%;
    padding: 10px 0;
    margin: 10px;
    display: block;
    width: 200px;
    font-size: 16px;
    font-weight: 100;
    background-color: transparent;
    color: #fcf3b2;
    border: 1px solid rgba(238, 238, 238, 0.41);
    border-width: thin;
    background-color: gray;
    cursor: pointer;
    outline: none;
    -webkit-transition: 0.5s all;
    text-decoration: none;
}
.buttCh:hover{
    background-color: #000;
    border: 1px solid #FFF;
    color: #FFF;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
    text-decoration: none;
}
#pic-diwn #check{
    border: 2px solid gray;
}
#goodsOut{
    position: relative;
    width: 25px;
    height: 27px;
    top: -10px;
    right: -10px;
    float: right;
    z-index: 10;
    background: url(../images/cclose.jpg);
}
#goodsOut:hover{
    cursor: pointer;
    background: url(../images/cclose1.jpg);
}
#discr{
    float: left;
    margin-left: 50px;
}
#butt{
    float: right;
    margin-right: 50px;
    margin-top: 70px;
}
.goodsSpan{
    float: left;
    color: black;
}
#discr div{
    margin-bottom: 20px;
}
.input-pic{
    margin-top: 10px;
}
.div-pic{
    width: 250px;
    float: right;
    margin-right: 30px;
}